.Rproj.user
.Rhistory
.RData
.Ruserdata
tutorials/enhancing_maps/tutorial_test.R
tutorials/enhancing_maps/data/961_buildings.csv.gz
tutorials/enhancing_maps/data/Argentina_buildings.gpkg
tutorials/enhancing_maps/data/Bariloche_enhanced_lcover.cpg
tutorials/enhancing_maps/data/Bariloche_enhanced_lcover.dbf
tutorials/enhancing_maps/data/Bariloche_enhanced_lcover.prj
tutorials/enhancing_maps/data/Bariloche_enhanced_lcover.shp
tutorials/enhancing_maps/data/Bariloche_enhanced_lcover.shx
tutorials/enhancing_maps/data/Bariloche_enhanced_lcover.tif
tutorials/enhancing_maps/data/Bariloche_enhanced_lcover.tif.aux.xml
tutorials/enhancing_maps/data/build.rds
tutorials/enhancing_maps/tutorial_test.R
tutorials/enhancing_maps/data/occ_maps.tiff
tutorials/enhancing_maps/data/CCS-Map-300m-P1Y-2022-Argentina.nc
tutorials/enhancing_maps/pol_feat_practice.RDS
IUWC25_OSM/data/argentina-latest.gpkg
IUWC25_OSM/data/argentina-latest.osm.pbf
IUWC25_OSM/data/ESA_WorldCover_10m_2021_v200_S42W072_Map.tif
IUWC25_OSM/data/CCS-Map-300m-P1Y-2022-Argentina.nc
Mada_workshop/github_basic/github_pres.pptx
